---
import { order } from "../../lib/colors";
import Panel from "./Panel.astro";
---

<div class="relative h-full w-full rounded-lg overflow-hidden">
    {
        order.map((c, i) => (
            <Panel id={`panel-${c}`} color={c} active={i === 0} label={c} />
        ))
    }
    <slot />
</div>
