---
import { Linkedin } from "lucide-astro";
import Instagram from "lucide-astro/Instagram";
import Twitter from "lucide-astro/Twitter";
import SidebarNavItem from "../Sidebar/SidebarNavItem.astro";
---

<div class="col-span-1 bg-bg-primary w-fit">
    <div class="bg-bg-secondary w-full rounded-b-[57px] h-full px-6 pb-6">
        <div
            class="bg-bg-primary flex w-full h-full items-center align-middle justify-center rounded-[57px] gap-2 px-7"
        >
            <a
                class="cursor-pointer group flex items-center hover:bg-light/20 justify-center align-middle w-12 h-12 rounded-[57px] transition-all duration-300 hover:scale-110"
            >
                <Twitter class="w-6 h-6 text-light" />
            </a>
            <a
                class="cursor-pointer group flex items-center hover:bg-light/20 justify-center align-middle w-12 h-12 rounded-[57px] transition-all duration-300 hover:scale-110"
            >
                <Instagram class="w-6 h-6 text-light" />
            </a>
            <a
                class="cursor-pointer group flex items-center hover:bg-light/20 justify-center align-middle w-12 h-12 rounded-[57px] transition-all duration-300 hover:scale-110"
            >
                <Linkedin class="w-6 h-6 text-light" />
            </a>
        </div>
    </div>
</div>
