---
import { Linkedin } from "lucide-astro";
import Instagram from "lucide-astro/Instagram";
import Twitter from "lucide-astro/Twitter";
---

<div class="col-span-1 bg-primary w-fit">
    <div class="bg-light w-full rounded-b-[57px] h-full px-6 pb-6">
        <div
            class="bg-secondary flex w-full h-full items-center align-middle justify-center rounded-[57px] gap-7 px-7"
        >
            <Twitter class="w-6 h-6 text-light" />
            <Instagram class="w-6 h-6 text-light" />
            <Linkedin class="w-6 h-6 text-light" />
        </div>
    </div>
</div>
