---
import Section from "@/layout/Section.astro";
import Container from "@/layout/Container.astro";
---

<Section sectionName="About" bgColor="#0B4F4A" itsFirst={true}>
    <Container> HOLA </Container>
</Section>
