---
import Section from "@/layout/Section.astro";
import Container from "@/layout/Container.astro";
---

<Section sectionName="Experience" bgColor="#4F0B1A">
    <Container>
        <div></div>
    </Container>
</Section>
