---
import Section from "@/layout/Section.astro";
import Container from "@/layout/Container.astro";
---

<Section sectionName="Projects" bgColor="#1A0B4F">
    <Container>
        <div></div>
    </Container>
</Section>
