---
import Section from "@/layout/Section.astro";
import Container from "@/layout/Container.astro";
---

<Section sectionName="Skills" bgColor="#0B2A4F">
    <Container>
        <div>HOLAAAAAAAAAAAAAAAAAA</div>
    </Container>
</Section>
