---
import "@/styles/global.css";
import Section from "@/layout/Section.astro";
import FormContainer from "../components/FormContainer.astro";
---

<!doctype html>
<html lang="es" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Wipe con navbar</title>
    </head>

    <body class="bg-[#111111] m-0 overflow-hidden text-white">
        <FormContainer />
        <main
            id="app-main"
            class="h-[100dvh] w-screen p-4 box-border p4 relative"
        >
            <Section bgColor="bg-red-500" showMenu={true}>
                <div>SECCIÓN 1</div>
            </Section>
            <Section bgColor="bg-blue-500" showMenu={true}>
                <div>SECCIÓN 2</div>
            </Section>
            <Section bgColor="bg-green-500" showMenu={true}>
                <div>SECCIÓN 3</div>
            </Section>
        </main>
    </body>
</html>
