---
import Sidebar from "../components/Sidebar.astro";
import Main from "../components/Main.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio</title>
	</head>
	<body>
		<div
			class="bg-bg-secondary sticky flex p-7 min-h-screen w-full h-100vh gap-7"
		>
			<Sidebar />
			<Main />
		</div>
	</body>
</html>
