---
import "@/styles/global.css";
import Section from "@/components/layout/Section.astro";
---

<!doctype html>
<html lang="es" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Wipe con navbar</title>
    </head>

    <body class="bg-[#111111] m-0 overflow-hidden text-white">
        <main id="app-main" class="h-[100dvh] w-screen p-4 box-border p4">
            <div
                id="frame"
                class="h-full w-full rounded-2xl overflow-hidden relative inset-0"
            >
                <Section bgColor="bg-red-500">
                    <div>ME</div>
                </Section>
                <Section bgColor="bg-blue-500">
                    <div>ABOUT</div>
                </Section>
            </div>
        </main>
    </body>
</html>
