---
// No props needed for this component yet
---

<div
    id="form-container"
    class="absolute inset-0 w-full h-full pointer-events-none z-100 flex items-start justify-end p-4 md:p-6 gap-4"
>
</div>

<style>
    #form-container > :global(form) {
        pointer-events: auto; /* Allow interaction with forms */
        max-height: min(80vh, 700px);
        overflow: auto;
    }
    #form-container:empty {
        display: none;
    }
</style>
