---
// No props needed for this component yet
---

<div
    id="form-container"
    class="absolute top-0 left-0 w-full h-full pointer-events-none z-10"
>
    <slot name="form" />
</div>

<style>
    #form-container > :global(form) {
        pointer-events: auto; /* Allow interaction with forms */
    }
    #form-container:empty {
        display: none;
    }
</style>
