---
import Socials from "./Main/Socials.astro";
import MainContentLayout from "../layouts/MainContentLayout.astro";
---

<main
    class="w-full rounded-[57px] grid grid-rows-[auto_1fr_auto] rounded-t-[57px]"
>
    <div class="w-full h-27 flex rounded-t-[57px]">
        <span class="col-span-1 bg-bg-primary w-full rounded-t-[57px]"></span>
        <Socials />
        <span class="col-span-1 bg-bg-primary w-72 rounded-t-[57px]"></span>
    </div>
    <MainContentLayout>
        <div class="">
            <img src="pj2.png" alt="" />
        </div>
    </MainContentLayout>
</main>
