---
import Sidebar from "./Sidebar.astro";
import Main from "./Main.astro";
---

<div class="bg-light sticky flex p-7 min-h-screen w-full h-100vh gap-7">
    <Sidebar />
    <Main> Hola </Main>
</div>
