---
import { Settings } from "lucide-astro";
---

<div
    class="sidebar-footer flex flex-col rounded-full items-center space-y-6 w-full bg-primary p-6 shadow-xl justify-center aspect-square"
>
    <button class="group flex items-center justify-center" title="Settings">
        <Settings
            size={20}
            class="text-light group-hover:text-accent transition-colors"
        />
    </button>
</div>
