---

---

<style></style>
<div class="relative w-15 h-15">
    <div
        class="absolute overflow-hidden top-0 w-15 h-15 rounded-full grid grid-cols-2 grid-rows-2 bg-secondary z-0 m-auto"
    >
        <!-- Star -->
        <div
            class="absolute inset-0 m-auto w-6.75 h-6.75 rounded-full z-5 bg-light"
        >
            <div
                class="absolute inset-0 m-auto w-5.5 h-5.5 rounded-[10px] bg-light z-5"
            >
            </div>
            <div
                class="absolute inset-0 m-auto w-[25px] h-[2px] rounded-[40%] bg-light z-6"
            >
            </div>
            <div
                class="absolute inset-0 m-auto w-[2px] h-[25px] rounded-[40%] bg-light z-6"
            >
            </div>
        </div>
        <div
            class="relative bg-secondary w-full h-full top-0.25 left-0.25 border-0 border-secondary rounded-br-[25px] rounded-tl-[50px] z-10"
        >
        </div>
        <div
            class="bg-secondary relative w-full h-full top-0.25 right-0.25 border-0 border-red-500 rounded-bl-[25px] rounded-tr-[50px] z-10"
        >
        </div>
        <div
            class="bg-secondary relative w-full h-full bottom-0.25 left-0.25 border-0 border-secondary rounded-tr-[25px] rounded-bl-[50px] z-100"
        >
        </div>

        <div
            class="bg-secondary relative w-full h-full bottom-0.25 right-0.25 border-0 border-secondary rounded-tl-[25px] rounded-br-[50px] z-10"
        >
        </div>
    </div>

    <div
        class="absolute w-15 top-0 h-15 rounded-full grid grid-cols-2 grid-rows-2 inset-0 m-auto"
    >
        <div
            class="relative bg-primary w-full h-full border-2 border-secondary rounded-br-[25px] rounded-tl-[50px] z-10"
        >
        </div>
        <div
            class="bg-primary w-full h-full border-2 border-secondary rounded-bl-[25px] rounded-tr-[50px] z-10"
        >
        </div>
        <div
            class="bg-primary relative w-full h-full border-2 border-secondary rounded-tr-[25px] rounded-bl-[50px] z-100"
        >
        </div>

        <div
            class="bg-primary w-full h-full border-2 border-secondary rounded-tl-[25px] rounded-br-[50px] z-10"
        >
        </div>
    </div>
</div>
