---

---

<div
    class="bg-bg-primary border border-light w-full rounded-b-[57px] grid grid-cols-[1fr_3fr] grid-rows-[auto_1fr] p-7 h-full"
    id="main-content "
>
    <!-- MAIN CONTENT -->
    <!-- <div class="name text-3xl text-light font-bold">
            Miguel A. Santiesteban Aguiar
        </div> -->
</div>
