---
import { order } from "../../lib/colors";
import ColorDot from "./ColorDot.astro";
---

<nav class="w-full flex justify-center mt-3 relative z-30 pointer-events-auto">
    <div
        class="flex items-center gap-4 px-4 py-2 rounded-full border border-white shadow-inner"
    >
        {
            order.map((c) => (
                <ColorDot color={c} target={`#panel-${c}`} title={c} />
            ))
        }
    </div>
</nav>
