---
interface Props {
    id?: string;
    class?: string;
}
---

<div
    id={Astro.props.id}
    class={`container pointer-events-auto w-full h-full border border-white flex justify-center ${Astro.props.class || ""}`}
>
    <slot />
</div>
