---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'div'> {
    id?: string;
    class?: string;
}

const { id, class: className = "", ...rest } = Astro.props as Props;
const baseClass =
    "container pointer-events-auto w-full h-full border border-white flex justify-center";
const classList = className ? `${baseClass} ${className}` : baseClass;
---

<div id={id} class={classList} {...rest}>
    <slot />
</div>
